/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0a3de; /* Adding a background color */
}
/* Add this to your styles.css */

header {
    text-align: center;
    padding: 0;
    background-color: #333;
    color: #d4b5b5;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 10px 0;
    font-size: 1.2rem;
}

/* Responsive Styling */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    header p {
        font-size: 1rem;
    }
}


header, nav, section, footer {
    margin: 0px;
}
/* Add this to your styles.css */

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; /* Adding bold font weight */
    font-size: 1.2rem;
}

nav a:hover {
    color: #f9f9f9; /* Change color on hover */
}


@media (max-width: 768px) {
    .nav {
        padding: 10px; /* Adjusted padding for smaller screens */
    }
}

a {
    text-decoration: none;
    color: #333;
}

footer {
    text-align: center;
}

.project {
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
    color: #333; /* Adjusted text color */
}

.project p {
    margin-bottom: 10px;
    color: #666; /* Adjusted text color */
}

/* Responsive Styling */
@media (max-width: 768px) {
    .project {
        padding: 10px; /* Adjusted padding for smaller screens */
    }
}
